header {
	height: 100px;
	width: 100%;
	background-color: $head-bcg;
	display: flex;
	align-items: center;


	nav {
		height: 50%;
		width: 100%;
		border-bottom: 1px solid $head-bcg-light;
		/* background-color: lighten($head-bcg, 10%); */

		.logo {
			font-size: 45px;
			margin-left: 20px;
			color: $logo;
		}

	}


}