/* colors */

$body-bcg:#1f262b;
$logo: darken($body-bcg, 5%);
$cont-bcg:#2c353a;
$head-bcg:#424e52;
$head-bcg-light: lighten($head-bcg, 10%);

$font-light:#bdbdbd;
$font-special: rgb(255, 255, 255);

// shadow

$disc-sha: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);


/* font size */

$h3-fs: 24px;
$h4-fs: $h3-fs * 0.8;
$h5-fs: $h3-fs * 0.6;