// colors
$body-bcg:#1f262b;
$logo-color: $body-bcg;
$cont-bcg:#2c353a;
$head-bcg:#424e52;
$head-bcg-light: lighten($head-bcg, 10%);
$font-light:#bdbdbd;
$font-special: rgb(255, 255, 255);

// shadow
$disc-shad: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
$img-shad: 0 19px 38px rgba(0, 0, 0, 0.30),
0 15px 12px rgba(0, 0, 0, 0.22);

// font size
$h3-fs: 20px;
$h4-fs: $h3-fs * 0.9;
$h5-fs: $h3-fs * 0.8;
$logo-fs: 45px;

// height
$head-hg: 100px;

// width
$img-wid: 220px;

// margin
$margin-sm: 10px;
$margin-md: 20px;